<%= form_with model: @aluno, html: { class: 'custom-form' } do |form| %>
  <div class="field">
    <%= form.label :nome, class: 'form-label' %>
    <%= form.text_field :nome, class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :matricula, class: 'form-label' %>
    <%= form.text_field :matricula, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= form.submit 'Enviar', class: 'btn btn-primary' %>
  </div>
<% end %>
