<!DOCTYPE html>
<html>
<head>
  <title>Detalhes do Aluno</title>
  <%= stylesheet_link_tag 'show', media: 'all' %> <!-- Referenciando o arquivo de estilos -->
</head>
<body>

<div class="container">
  <h1 class="page-title">Detalhes do Aluno</h1>

  <p><strong>Nome:</strong> <%= @aluno.nome %></p>
  <p><strong>Matrícula:</strong> <%= @aluno.matricula %></p>

  <div class="actions">
    <%= link_to 'Editar', edit_aluno_path(@aluno), class: 'btn-show' %>
    <%= link_to 'Excluir', aluno_path(@aluno), method: :delete, data: { confirm: 'Tem certeza que deseja excluir este aluno?' }, class: 'btn-show delete-btn', style: 'color: red;' %>
    <%= link_to 'Voltar', alunos_path, class: 'btn-show' %>
  </div>
</div>

</body>
</html>
