<%= form_with model: @professor, html: { class: 'custom-form' } do |form| %>
  <div class="field">
    <%= form.label :nome, class: 'form-label' %>
    <%= form.text_field :nome, class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :cpf, class: 'form-label' %>
    <%= form.text_field :cpf, class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :instituicao, class: 'form-label' %>
    <%= form.text_field :instituicao, class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :externo, class: 'form-label' %>
    <%= form.check_box :externo, class: 'form-checkbox' %>
  </div>
  <div class="actions">
    <%= form.submit 'Enviar', class: 'btn btn-primary' %>
  </div>
<% end %>
