<h1>Detalhes do Professor</h1>
<p><strong>Nome:</strong> <%= @professor.nome %></p>
<p><strong>CPF:</strong> <%= @professor.cpf %></p>
<p><strong>Instituição:</strong> <%= @professor.instituicao %></p>
<p><strong>Externo:</strong> <%= @professor.externo ? 'Sim' : 'Não' %></p>
<%= link_to 'Editar', edit_professor_path(@professor) %> |
<%= link_to 'Excluir', professor_path(@professor), method: :delete, data: { confirm: 'Tem certeza que deseja excluir este professor?' } %> |
<%= link_to 'Voltar', professores_path %>
